# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: rvben's page
subtitle: Thoughts, Tips, and Tricks
description: >- # this means to ignore newlines until "baseurl:"
  Thoughts, Tips, and Tricks related to what keeps me busy.
baseurl: "" # the subpath of your site, e.g. /blog
author: Ruben J. Jongejan
email: ruben.jongejan@gmail.com
avatar: assets/images/avatar48x48.jpg
url: "https://rvben.nl" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jongejanruben
# github_username:  rvben

# Build settings
markdown: kramdown
# theme: minima

# Prologue theme related configuration:

# Social settings
facebook_url:
github_url:
googleplus_url:
instagram_url:
linkedin_url:
pinterest_url:
slack_url:
twitter_url:

# Google Analytics Tracking ID goes here:
google_analytics:

# The following settings are NECESSARY for the Prologue theme to run:
remote_theme: chrisbobbe/jekyll-theme-prologue
collections: [sections]

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
